.menu {
  text-transform: uppercase;
  margin-bottom: 1em;
  a {
    display: block;
    color: #4d4d4d;
    text-decoration: none;
    min-height: 70px;
    h4 {
    display: inline-block;
    position: relative;
    vertical-align: middle;
      padding-left: 2.4em;
      @media (max-width: $screen-lg-min) {
        font-size: 1.5em;
      }
      img {
        position: absolute;
        top: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &:hover {
      color: rgb(154, 154, 154);
    }
  }
  .active {
    color: #c1272d;
  }
}
.doncnt{
  text-align: center;
  h4{
    text-align: justify;
    padding: 1em;
    white-space:pre;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    @media (max-width: $screen-sm-min) {
      font-size: 1.5em;
    }
    padding: 1em 0;
  }
}
