.menu {
  text-transform: uppercase;
  margin-bottom: 1em;
  a {
    display: block;
    color: #000;
    text-decoration: none;
    h3 {
    display: inline-block;
    position: relative;
    vertical-align: middle;
      padding-left: 2em;
      .fa {
        position: absolute;
        font-size: 1.6em;
        top: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        @media (max-width: $screen-xs-max) {
          font-size: 1.5em;
        }
      }
    }
    &:hover {
      color: rgb(154, 154, 154);
    }
  }
  .active {
    color: #c1272d;
  }
}
