.menub {
  text-transform: uppercase;
  margin-bottom: 1em;
  word-wrap: break-word;
    word-break: break-word;
  h4 {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    a {
      display: block;
      color: #000;
      text-decoration: none;
      &:hover {
        color: rgb(100, 100, 100);
      }
    }
  }
  .active {
    text-decoration: underline;
  }
}
