.menub {
  text-transform: uppercase;
  margin-bottom: 1em;
  a {
    display: block;
    color: #000;
    text-decoration: none;
    h3 {
      display: inline-block;
      position: relative;
      vertical-align: middle;
    }
    &:hover {
      color: rgb(100, 100, 100);
    }
  }
  .active {
    color: #c1272d;
  }
}
