language: node_js
node_js:
  - 4.2.3
matrix:
  fast_finish: true
  allow_failures:
    - node_js: 5.1.1
branches:
  only:
    - master
    - release
    - dev
before_script:
  - npm install -g bower grunt-cli
  - gem install sass
  - bower install
services: mongodb
deploy:
  provider: azure_web_apps
  site: 'ecuadorayuda'
  on:
     branch: release
  provider: azure_web_apps
  site: 'ecuadorayuda-dev'
  on:
     branch: dev
