.ir {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-rule-style: none;
  /* Chrome, Safari, Opera */
  -moz-column-rule-style: none;
  /* Firefox */
  column-rule-style: none;
}
