.ir {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-rule-style: none;
  /* Chrome, Safari, Opera */
  -moz-column-rule-style: none;
  /* Firefox */
  column-rule-style: none;
}
.ndicn {
  margin-right: 1em;
  margin-top: 0.5em;
  width: 100px;
}
.needs{
  margin-bottom: 1em;
}
