<div ng-show="vm.place">
<h1>{{vm.place.name}}</h1>
<div ng-show="vm.place.htgo">
  <h2>CÓMO LLEGAR<i class="fa fa-map-marker pull-right"></i></h2>
  <p>
    {{vm.place.htgo}}
  </p>
</div>
<h2>DÓNDE IR</h2>
<h4>(Centros de Acopio o recepción de donaciones)</h4>
<div class='row '>
  <div class="col col-sm-6 col-md-4 col-lg-3" ng-repeat="place in vm.place.wtgo">
    <div class="place">
      <p>
        <strong>{{place.name}}
        <br>
        {{place.tel}}</strong>
        <br>
        {{place.extra}}
      </p>
    </div>
  </div>

</div>
  <div class='row needs'>
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 '>

      <h2>QUÉ SE NECESITA</h2>

    </div>
      <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 ' ng-show="need.state" ng-repeat="need in vm.place.needs">
      <img src="" class="pull-left ndicn" ng-src="{{need.image}}" alt="{{need.mane}}" />
        <h4><strong>{{need.name}}</strong></h4>
        <p>
          {{need.detail}}
        </p>
      </div>

  </div>
</div>
