.ir {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-rule-style: none;
  /* Chrome, Safari, Opera */
  -moz-column-rule-style: none;
  /* Firefox */
  column-rule-style: none;
}
.place {
  transition: all 0.2s;
  perspective: 900px;
  min-height: 200px;
    .need {
    margin-bottom: 1em;
    .ndicn {
      margin-right: 1em;
      margin-top: 0.5em;
      width: 20px;
      display: inline-block;
    }
  }
  .back,
  .front {
    width: 100%;
    min-height: 100%;
    padding: .7em;
    backface-visibility: hidden;
    transform-style: preserve3d;
    transition: all 0.4s;
    filter: drop-shadow(0 0 10px #eee);
  }
  .front {
    background: white;
  }
  .back {
    background: white;
  }
  .back {
    transform: rotateY(-180deg);
  }
  .flipped .back {
    transform: rotateY(0deg);
  }
  .flipped .front {
    transform: rotateY(180deg);
  }
}
