<div id="place" ng-show="place">
  <h1>{{place.name}}</h1>
  <div class='row places'>
    <div class="col-sm-6 col-lg-4 place" ng-repeat="place in place.wtgo" ng-class="{flipped: n}" ng-init="n=false">

      <div class="front" ng-click="n=!n" >

        <h4><strong>{{place.name}}</strong> </h4><i class="fa fa-plus-circle more pull-right"></i>
        <p>
          <strong>
            {{place.tel}}</strong>
          <br>
           {{place.extra}}
        </p>
        <div class="needs-front">
          <br>
          <img src="" class="pull-right ndicn-front" ng-src="{{need.image}}" alt="{{need.mane}}" ng-class="{'ng-hide':!need.state}" ng-repeat="need in place.needs"/>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="back">
        <div >

          <h4 >Qué se necesita
            <i class="fa fa-times pull-right" ng-click="n=!n"></i>
          </h4>
          <div class="need" ng-if="need.state"  ng-repeat="need in place.needs">
            <img src="" class="pull-left ndicn" ng-src="{{need.image}}" alt="{{need.mane}}"/>
            <h4>
              {{need.name}}
            </h4>
            <p>
              {{need.detail}}
            </p>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
