.himage {
  background-image: url('../assets/images/header.jpg');
  height: 55%;
  height: 55vh;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  @media (max-width:$screen-xs-max) {
    height: 35%;
    height: 35vh;
  }
}
.main-menu {
  transform: translateY(-50%);
  .col {
    text-align: center;
    a {
      img {
        border-radius: 50%;
        max-width: 100%;
      }
    }
    .active {
      img {
        filter: drop-shadow(0 0 1px #eee);
      }
    }
  }
}
.cnt {
  padding-bottom: 5vh;
}
.welcome{
  text-align: center;
  h1{
    text-align: center;
  }
  h4{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
}
.navbar-default {
  min-height: 90px;
  text-transform: uppercase;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0;
  .navbar-header {
    min-height: 90px;
  }
  .navbar-collapse {
    border-top: 0;
  }
  .navbar-brand {
    img {
      height: 60px;
    }
  }
  .navbar-nav {
    > li {
      > a {
        padding-top: 35px;
        padding-bottom: 35px;
      }
      > .navbar-text {
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
    .active {
       > a:focus,
       > a:hover,
      > a {
        color: #000;
        background-color: initial;
      }
    }
  }
}
