<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img alt="Ecuador se levanta." src="assets/images/logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ui-sref="main.quienesomos">Quienes somos</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Centros de acopio <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
          <li><a href="#" ui-sref="main.ayudaextranjera" >Ayuda extranjera</a></li>
            <li><a href="#"  ui-sref="main.tips" >tips</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="himage">
  <i class="fa fa-2x visible-xs hamburguer" ng-class="n ? 'fa-times':'fa-bars'" ng-click="n = !n"></i>
</div>
<div class='container'>
  <div class='row '>
    <div class="col col-sm-4 col-md-3 col-lg-2 menu" ng-class="{open: n}">
      <h3>Qué se ofrece</h3>
      <hr>
      <a href="#" ui-sref="main.servicios" ng-click="n = false">Servicios</a>
      <a href="#" ui-sref="main.proveedores" ng-click="n = false">Proveedores</a>
      <h3>Lugares</h3>
      <hr>
      <a href="#" ng-repeat="place in vm.places" ng-click="$parent.n = false" ui-sref="main.lugar({id:'{{place._id}}'})">{{place.name}}</a>
      <hr>
      <a href="#" ui-sref="main.ayudaextranjera" ng-click="n = false">
        <strong>AYUDA EXTRANJERA</strong>
      </a>
      <hr>
      <a href="#" ui-sref="main.tips" ng-click="n = false">
        <strong>Tips</strong>
      </a>
    </div>

    <div class="col col-sm-12 cnt">
      <div ui-view></div>
    </div>
  </div>
</div>
