.himage {
  background-image: url('../assets/images/header.jpg');
  height: 35%;
  height: 35vh;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  @media (max-width:$screen-xs-max) {
    height: 15%;
    height: 15vh;
  }
}
.main-menu {
  transform: translateY(-50%);
  .col {
    text-align: center;
    a {
      img {
        border-radius: 50%;
        max-width: 100%;
      }
    }
  }
}
.navbar-default {
  min-height: 90px;
  text-transform: uppercase;
  margin-bottom: 0;
  background-color: #fff;
  .navbar-header {
    min-height: 90px;
  }
  .navbar-collapse {
    border-top: 0;
  }
  .navbar-brand {
    img {
      height: 60px;
    }
  }
  .navbar-nav {
    > li {
      > a {
        padding-top: 35px;
        padding-bottom: 35px;
      }
    }
    .active {
       > a,
       > a:hover,
      > a:focus {
        color: #000;
        background-color: initial;
      }
    }
  }
}
